

@font-face {
  font-family: 'Circular';
  src: url('custom-font.woff2');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Circular;
  background-color: #1c1c1c;
}

button {
  font-family: Circular;
}

img {
  display: block;
}

header {
  $header-height: 64px;
  height: $header-height;

  display: flex;
  align-items: center;

  background-color: #1c1c1c;
  color: #fff;
  border-bottom: 1px solid #2e2e2e;

  &.open {
    border-bottom: none;
    background-color: #232323;
  }

  .inner-header {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1023px) {
      display: none;
    }

    > .left {
      display: flex;
      align-items: center;

      .logo {
        height: 24px;
      }

      nav {
        ul {
          display: flex;
  
          li {
            position: relative;
            padding: 5px 12px;

            display: flex;
            align-items: center;
  
            list-style: none;
  
            a {
              display: flex;
              align-items: center;

              font-size: 14px;
  
              color: #fff;
              text-decoration: none;

              .arrow {
                margin-left: 5px;
                width: 12px;
                margin-bottom: -1px;

                transition: transform 130ms ease-out;
              }
            }

            .dropdown {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: $header-height + 5px;
    
              .inner-dropdown {
                position: absolute;
                width: 700px;
                margin-top: $header-height + 5px;
                padding: 24px;

                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 5px;

                background-color: #1c1c1c;
                color: #fff;
                border: 1px solid #2e2e2e;
                border-radius: 8px;

                .dropdown-item {
                  padding: 8px;

                  display: flex;

                  .left {
                    width: 40px;
                    height: 40px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: rgb(40, 40, 40);
                    border-radius: 6px;

                    svg {
                      color: rgb(126, 126, 126);
                      height: 22px;
                    }
                  }

                  .right {
                    font-size: 14px;
                    padding-left: 13px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    

                    .subtitle {
                      color: rgb(126, 126, 126);
                    }
                  }
                }
              }
            }

            &:hover {
              .dropdown {
                display: block;
                
                cursor: pointer;
              }

              a {
                color: #3ecf8e;

                .arrow {
                  transform: rotateZ(180deg);
                }
              }
            }
          }
        }
      }
    }

    > .right {
      display: flex;
      align-items: center;

      button {
        padding: 4px 10px;

        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }
      }

      .github-count {
        font-size: 12px;
        margin-right: 8px;
  
        display: inline-flex;
        align-items: center;
  
        background-color: transparent;
        border: none;
        color: rgb(160, 160, 160);
        transition-property: background-color;
        transition-duration: 0.5s;
  
  
        &:hover {
          background-color: rgb(46, 46, 46);
        }

        .github-icon {
          width: 24px;
          margin-right: 5px;
        }
      }

      .sign-in {
        $background-color: #2e2e2e;
        padding: 4px 10px;
        margin-right: 8px;

        border-width: 1px;
        border-style: solid;
        border-color: #383838;
        background-color: $background-color;
        color: #fff;
        transition: background-color 0.2s linear;

        &:hover {
          background-color: scale-color($color: $background-color, $lightness: -15%);
        }
      }

      .start-project {
        $background-color: #37996b; 
        background-color: $background-color;
        border-color: #6ee7b7;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        transition: background-color 0.2s linear;

        &:hover {
          background-color: scale-color($color: $background-color, $lightness: -15%);
        }
      }
    }
  }

  .mobile-header {
    @media (min-width: 1024px) {
      display: none;
    }

    width: 100%;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 24px;
    }

    .hamburger {
      padding: 10px;

      border-radius: 5px;

      &:hover {
        background-color: #232323;
        cursor: pointer;
      }

      .hamburger-inner {
        height: 14px;
        width: 18px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
          width: 100%;
          height: 2px;

          background-color: #7e7e7e;
          border-radius: 2px;
        }
      }

      .x {
        display: none;
      }
    }

    .mobile-dropdown {
      display: none;
    }
  }

  &.open .mobile-header {
    .mobile-dropdown {
      position: fixed;
      z-index: -1;
      top: $header-height;
      left: 0;
      width: 100%;
      height: calc(100vh - $header-height);

      background-color: #232323;

      nav {
        padding-top: 80px - $header-height;
        padding-left: 16px;
        padding-right: 16px;

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            border-bottom: 1px solid #2e2e2e;

            .submenu-toggle {
              position: relative;
            }

            &:hover .submenu-toggle {
              background-color: #282828;
            }

            a {
              font-size: 16px;
              flex: 1;
              display: block;
              padding: 8px 16px 8px 12px;

              line-height: 24px;
              text-decoration: none;
              color: #fff;
            }

            .arrow {
              width: 18px;
              height: 18px;
              margin-right: 16px;
              position: absolute;
              right: 0;
              top: calc(50% - 9px);

              color: #7e7e7e;
              transition: transform 130ms ease-out;

              &:hover {
                cursor: pointer;
              }
            }

            .arrow.rotated {
              transform: rotateZ(180deg);
            }

            .submenu-dropdown {
              display: none;
              padding: 12px 0;

              .dropdown-item {
                padding: 8px;
  
                display: flex;
  
                .left {
                  width: 40px;
                  height: 40px;
  
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  background-color: rgb(40, 40, 40);
                  border-radius: 6px;
  
                  svg {
                    color: rgb(126, 126, 126);
                    height: 22px;
                  }
                }
  
                .right {
                  font-size: 14px;
                  padding-left: 13px;
  
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  
  
                  .subtitle {
                    color: rgb(126, 126, 126);
                  }
                }
              }
            }
          }
        }
      }

      .cta-buttons {
        position: fixed;
        bottom: 0;
        height: 72px;
        width: 100%;
        padding: 16px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
  
        background-color: #161616;

        button {
          padding: 4px 10px;
  
          border-radius: 6px;
  
          &:hover {
            cursor: pointer;
          }
        }
  
        .sign-in {
          $background-color: #2e2e2e;
          padding: 4px 10px;
  
          border-width: 1px;
          border-style: solid;
          border-color: #383838;
          background-color: $background-color;
          color: #fff;
          transition: background-color 0.2s linear;
  
          &:hover {
            background-color: scale-color($color: $background-color, $lightness: -15%);
          }
        }
  
        .start-project {
          $background-color: #37996b; 
          background-color: $background-color;
          border-color: #6ee7b7;
          border-style: solid;
          border-width: 1px;
          color: #fff;
          transition: background-color 0.2s linear;
  
          &:hover {
            background-color: scale-color($color: $background-color, $lightness: -15%);
          }
        }
      }
    }

    .hamburger {
      &:hover {
        background-color: #282828;
      }

      .hamburger-inner {
        display: none;
      }
    }

    .x {
      $size: 19px;
      $line-size: 2px;

      display: block;
      position: relative;
      width: $size;
      height: $size;

      transform: rotateZ(45deg);

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        background-color: #7e7e7e;;
        border-radius: $line-size / 2;
      }

      &::before {
        top: 0;
        height: $line-size;
        width: 100%;
        transform: translateY($size / 2 - $line-size / 2);
      }

      &::after {
        left: 0;
        width: $line-size;
        height: 100%;
        transform: translateX($size / 2 - $line-size / 2);
      }
    }
  }
}
